// VENDORS 

@import "vendors/normalize.css";

// BASE 

@import "base/base";

// UTILS 

@import "utils/colors";
@import "utils/fonts";

// COMPONENTS 

@import "components/navbar";
@import "components/hiddennav";
@import "components/formitineraire";
@import "components/popupbottom";
@import "components/footer";


// LAYOUT 

@import "layout/formulaire";
@import "layout/diaporama";
@import "layout/accueilvelo";
@import "layout/gridaccueil";
@import "layout/temoignageaccueil";
@import "layout/billetstemoignage";
@import "layout/temoignagecaroussel";

// PAGES

@import "pages/home";
@import "pages/itineraire";
@import "pages/infospratiques";
@import "pages/mentionslegales";
@import "pages/adecouvrir";


// pages
@import "pages/ambassadeurs"