// VENDORS 

@import "vendors/normalize.css";


// UTILS 

@import "utils/colors";

// COMPONENTS 

@import "components/boutons";
@import "components/navbar";
@import "components/hiddennav";
@import "components/formitineraire";

// LAYOUT 

@import "layout/formulaire";

// PAGES

@import "pages/home";