#siwprepere {
    // margin-left: 37%;
    z-index: 9;
    width: 320px;
    display: flex;
    margin: auto;
    .swipebullet {
        background: white;
        border-radius: 2px;
        opacity: 1;
        width: 30px;
        height: 3px;
        margin: 0px 5px;
        content: "";
    }
    .swipebullet-active {
        background: $pinksite;
    }
}

.hometitle {
    text-align: center;
    color: white;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 2.625rem;
    margin-bottom: -10px;
}

.homesubtitle {
    text-align: center;
    // width: 70%;
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 2.625rem;
    margin: 0px auto 50px auto;
}


.maindiapo {
    width: 100%;
}
.elements {
    display: flex;
    // transform: translateX(-100%);
    .element {
        flex: 1 0 100%;
        position: relative;
        img {
            width:100%;
            height: 95vh;
            object-fit: cover;
        }
    }
}

.caption {
    position: absolute;
    width: 100%;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.caption1 {
    position: absolute;
    width: 100%;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.diapo {
    overflow: hidden;
}
