#blocdelagrid {
    width: 1050px;
    display: grid;
    grid-template-rows: repeat(3, 335px);
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    grid-gap: 35px;
    margin: auto;
        img {
            width: 335px;
            height: 335px;
            object-fit: cover;
            position: relative;
            z-index: 2;
            opacity: 0.9;
            border-radius: 5px;
        }
        #textepourlagridaccueil {
            position: absolute;
            width: 335px;
            height: 335px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            z-index: 4;
            font-family: 'Mukta Mahee';
            color: white;
                .boutonpourlagrid {
                    font-size: 14px;
                    background-color: $orangesite;
                    max-width: 100px;
                    margin: 10px auto;
                    padding: 7px;
                }
                .titreimagegrid {
                    font-size: 24px;
                    padding: 20px;
                    transition: all 100ms ease-in-out;
                }
        }
        .liendelagridaccueil {
            text-decoration: none;
            display: flex;
            overflow: hidden;
            width: 335px;
            height: 335px;
            border-radius: 5px;
                &:hover {
                    box-shadow: 0 0px 10px 0 rgba(0,0,0,.2);

                    img {
                    filter: blur(2px);
                    transform: scale(1.2);
                    border-radius: 5px;
                }
                    .titreimagegrid {
                        margin-bottom: 80px;
                    }
                }
        }
        
}