#blocphototemoignage {
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: flex;
        .photodefondcoteneurtem {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            z-index: 1;
            filter:brightness(1.1);
        }
        .blocdetextetemoignage {
            width: 100%;
            position: absolute;
            z-index: 4;
            color: white;
            margin-top: 25px;
            .titredubloctem{
                width: 60%;
                font-family: 'Poppins';
                font-size: 48px;
                font-weight: 300;
                margin-bottom: -10px;
                margin-left: 6%;
            }
            .soustitredubloctem {
                width: 60%;
                font-family: 'Mukta Mahee';
                font-size: 18px;
                font-weight: 500;
                padding-bottom: 20px;
                margin-left: 6%;
            }
            .boutondutemoignage {
                margin-top: 360px;
                display: flex;
                justify-content: space-between;
                // align-items: center;
                .boutontransparent {
                    background-color: rgba(255, 255, 255, 0.1);
                    padding: 12px 15px;
                    border: 2px white solid;
                    border-radius:5px;
                    text-decoration: none;
                    color: white;
                    font-family: 'Poppins';
                    font-size: 14px ;
                    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
                    text-align: center;
                    font-weight: 600;
                    margin-left: 6%;
                    bottom: 10;
                    position: absolute;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.5);
                        }
                    }
                }
                .lesfleches {
                    position: absolute;
                    margin-left: 88%;
                    margin-top: 305px;
                        img {
                            width: 18px;
                            padding: 15px;
                            margin: 5px;
                            border: 2px solid rgba(0,0,0,0.0);
                            cursor: pointer;
                            &:hover { 
                                border-radius: 100%;
                                border: 2px white solid;
                            }
                        }
            }
            #carousseltemoignage {
                display: flex; 
                gap: 25px;
                // margin: 30px auto 0px auto;
                overflow: hidden;
                // overflow-y: hidden;
                padding: 5px;
                margin-left: 10px;
                z-index: 999; 
                position: absolute;
                    .liendudiapotem {
                        display: flex;
                        border-radius: 5px;
                        overflow: hidden;
                            .imgducarousselt {
                                width: 470px;
                                height: 265px;
                                border-radius: 5px;
                                position: relative;
                                object-fit: cover;
                            }
                            .textepourimagetem {
                                display: flex;
                                flex-direction: column;
                                position: absolute;
                                align-items: center;
                                width: 470px;
                                height: 265px;
                                border-radius: 5px;
                                    .coeurcaroussel {
                                        width: 20px;
                                        height: 20px;
                                        margin-top: 10px;
                                        margin-left: 430px;
                                    }
                                    .textetemoignagec {
                                        transition: all 200ms ease-in-out;
                                        width: 70%;
                                        text-decoration: none;
                                        color: white;
                                        font-family: 'Mukta Mahee';
                                        font-size: 24px;
                                        text-align: center;
                                        margin-top: 130px;
                                    }
            
                            }
                            &:hover {
                                .imgducarousselt {
                                    filter:blur(3px) brightness(0.7);
                                    transform: scale(1.2);
                                    border-radius: 5px;
                                }
                                .textetemoignagec {
                                      transform: translate(0, -55px);
}           
                            }
                    }
            }
        
        }
}

#headbilletstemoignages {
    width : 80%;
    text-align: center;
    margin: auto;
        .titrebillets {
            font-family: 'Poppins';
            font-size: 42px;
            text-align: center;
            font-weight: 300;
        }
        .soustitrebillets {
            font-family: 'Mukta Mahee';
            color: #585858;
            font-weight: 500;
            text-align: center;
            // margin: auto;
            padding-bottom: 15px;
        }
}

.dissmiss .arrowleft {
    display:none;
}

.dissmiss .arrowright {
    display:none;
}


@media screen and (max-width: 390px) {

    #blocphototemoignage {
        height: 600px;
        .photodefondcoteneurtem {
            display: none;
        }
        .blocdetextetemoignage {
            color: black;
            text-align: center;
            margin: auto;
            width: 100%;
            .titredubloctem {
                width: 80%;
                font-size: 30px;
                margin: auto;
            }
            .soustitredubloctem {
                width: 80%;
                line-height: 1.5rem;
                font-size: 16px;
                margin: auto;
                padding: 10px;
                color: #585858;
            }
            #carousseltemoignage {
                width: 100%;
                gap: 0px;
                margin: 0px;
                padding: 0px;
                overflow:scroll;
                .liendudiapotem {
                    width: 90%;
                    margin: auto;
                    .imgducarousselt {
                        width: 380px;
                        height: 250px;
                    }
                    .textepourimagetem{
                        height: 250px;
                        width: 100%;
                        .coeurcaroussel {
                            margin-left: 280px;
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
            .lesfleches {
                display:none;
            }
            .boutondutemoignage {
                margin: 270px 0px 0px 90px;
                .boutontransparent {
                    margin: auto;
                    border: 2px black solid;
                    color: black;
                }
            }
        }
    }
}