#footer {
    bottom: 0;
    left: 0;
        #quart2footer {
            background-color: white;
            line-height: 1.2em;
            margin-left: 20%;
            padding: 10px 0px;
                p {
                    font-family: 'Poppins';
                    color: #231F20;
                    font-size: 16px;
                    margin: auto;
                    font-weight: 700;
                }
                a {
                    color: #585858;
                    font-family: 'Mukta Mahee';
                    font-size: 15px;
                    text-decoration: none;
                    margin-left: -40px;
                    font-weight: 500;
                }
                li {
                    list-style: none;
                }
        }
        #quart3footer {
            background-color: #f4F4F4;
            .grostest {
                // max-width: 880px;
                padding: 20px 0 15px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60%;
                margin: auto;
            }
            img {
                width: 49px;
                object-fit: cover;
            }
            #textedufooter {
                padding: 0px 15px;
                // max-width: 40%;
                flex: 60%;
                h3 {
                    font-family: 'Poppins';
                    font-size: 16px;
                    font-weight: 600;
                    color: #231F20
                }
                p {
                    font-family: 'Mukta Mahee';
                    font-size: 14px;
                    font-weight: 500;
                    color: #585858
                }
            }
            a {
                text-decoration: none;
                font-family: 'Poppins';
                font-size: 14px;
                padding: 10px 15px;
                margin: 15px;
                font-weight: 700;
                text-align: center;
                line-height: 1.2rem;
            }
            .boutonblanc {
                border: 2px #231F20 solid;
                color: #231F20;
                border-radius: 5px;
                flex: 17%;
                box-shadow: 0px 0px 8px rgb(35, 31, 32, 0.5);
            }
            .boutonnoir {
                background-color: #231F20;
                color: white;
                border-radius: 5px;
                flex: 25%;
                box-shadow: 0px 0px 10px rgb(35, 31, 32, 0.5);
            }
        }
}

#quart4footer {
    background-color: #231F20;
    color: white;
    font-family: 'Mukta Mahee';
    font-size: 13px;
    font-weight: 500;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
        .lienfooternoir {
            margin-left: 19%;
                a {
                    text-decoration: none;
                    color: white;
                    padding: 5px;
                }
        }
        .logofooter {
            display: flex;
                img {
                    height: 30px;
                    padding: 0px 20px;
                }
        }
}

#quartfooter {
    width: 100%;
    height: 300px;
    position: absolute;
            .imgfooter1{
                width: 60%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 30px 0px;
                margin: auto;
            }
                .logofooter {
                    display: flex;
                    gap: 10px;
                    img {
                    height: 65px;
                    object-fit: contain;
                    opacity: 100%;
                    }
                }
                .logofooter1 {
                    display: flex;
                    gap: 10px;
                    img {
                    width: 21px;
                    }
                }
            .partie2footer1 {
                width: 60%;
                margin: auto;
                display: flex;
                align-items: center;
                gap: 20px;
                    #textedufooter1 {
                        flex: 50%;

                            h2 {
                                font-family: 'Poppins';
                                font-weight: 700;
                                font-size: 24px;
                            }
                            p {
                                font-family: 'Mukta Mahee';
                                font-size: 16px; 
                            }
                    }
                    a {
                        text-decoration: none;
                        font-family: 'Poppins';
                        font-size: 14px;
                        padding: 10px 30px;
                        margin: 15px;
                        font-weight: 700;
                        text-align: center;
                        line-height: 1.2rem;
                    }
                    .boutonblancrose {
                        border: 2px $pinksite solid;
                        color: $pinksite;
                        border-radius: 5px;
                        box-shadow: 0px 0px 8px rgb(35, 31, 32, 0.5);
                    }
                    .boutonrose {
                        background: $pinksite;
                        opacity: 100%;
                        color: white;
                        border-radius: 5px;
                        box-shadow: 0px 0px 8px rgb(35, 31, 32, 0.5)
                    }
            }
        
}

.photodufooter{
    width: 100%;
    height: 300px;
    object-fit: cover;
    opacity: 0.1;
    position: relative;
    filter:brightness(1.5);
    border: 0.5px rgb(227, 226, 226) solid;
}

@media screen and (max-width: 390px) {

    #quartfooter {
        height: 180px;
        .imgfooter1 {
            width: 100%;
            .logofooter {
                margin-left: 15px;
                img {
                    height: 55px;
                }
            }
            .logofooter1 {
                margin-right: 15px;
            }
        }
        .partie2footer1 {
            width: 90%;
            gap: 0px;
            padding-top: 0px;
        #textedufooter1 {
            display: none;
            flex: 0%;
        }
        a {
            padding: 10px;
            margin: 10px;
        }
        .boutonblancrose {
            width: 45%;
            border: white;
        }
        .boutonrose {
            width: 55%;
        }
    }
}

    .photodufooter {
        height: 200px;
    }


    #quart2footer {
        margin-left: 0%;
        padding: 0px;
        p {
            margin: 0px;
        }
    }

#footer {
    #quart3footer {
        width: 100%;
        .grostest {
            width: 100%;
            flex-wrap: wrap;
            img {
                display:none;
            }
            #textedufooter {
                flex: 90%;
                width: 80%;
                text-align: center;
            }
        }
    }
    #quart4footer {
        flex-wrap: wrap;
        .lienfooternoir {
            margin-left: 0%;
            line-height: 1.4rem;
            a {
                padding: 10px;
            }
        }
        .logofooter {
            margin-left:3%;
            img {
                margin-left: 60px;
            }
        }
    }
}
}