
.wallpaper{
    
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin-top: -10px;
    z-index: 2;
    
}

.titre{
    font-family: 'Mukta Mahee', sans-serif;
    padding-top: 20px;
    font-size: 1.5rem ;
}
.page-titre{

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.875rem;
    text-align: center;
    color: white;
    font-family: "Poppins";
    width: 80%;
    position: relative;
    top: -400px;
    margin: 0px auto 50px auto;
    z-index: 2;
  
}

.context{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
     
    p{
        font-family: 'Mukta Mahee', sans-serif;
        padding-top: 2%;
        font-size: 1.125rem;
        text-align: justify;  
        color: #585858
    }
 
    .row{
        flex-direction:  row;
        margin-left: 25%;
        margin-right: 25%;
        h2{
            margin-top: -10px;
            padding-bottom: 10px;
            font-size: 1.875rem;
            font-weight: 300;
            color: #231f20;
        }
        h3{
            margin-left: 40px;
            text-align: center;
            margin-bottom: 0px;
            font-size: 1.5rem;
            color: #231f20;
            font-family: Poppins,sans-serif;
            font-weight: 600;
        }
        
    }
    .column{
        margin-left: 25%;
        margin-right: 22%;
    }
}

.ev5{
    padding-top: 5%;
    margin: 0;

}

.logoviafr{
    height: 150px;
    width: auto;
    float: left;
    margin:3% 3% 1% 0;
 }

 #acv{
    
    align-items: center;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: .875rem;
    margin-top: 20px;
    width: 400px;
    margin: auto;
    
    h3{
        margin-top: 0px;
    }
     a{
        text-decoration: none;
        border: 2px solid $pinksite ;
        background: #fff;
        padding: 10px 15px 10px 15px;
        color: $pinksite;
        font-weight: 600;
        position: relative;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
        .keur{
            padding-top:80px;
            padding-left: 20px;
            margin-bottom:-7px;
        }
        .plus{
            width: 13px;
            height: 13px;
            margin-left: -13px;
            margin-bottom: -7px;
           
        
        }
     }
  
 }

 article.itin{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0;
    width: 100%;
    
}
     
 div.photo img{    
    box-shadow: 0 40px 60px 0 rgb(0 0 0 / 18%);
    width: 100%;
    border-radius: 20px;
    
   
}
.details h1{
     
        margin: 0;
        font-family: Poppins,sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
   
}

        article div.left{
           margin-top: 25px;
           width: 47%;
           height: auto;
           border-radius: 10px;
           padding-left: 25px;
           
       }
       article div.right{ 
            
            width: 50%;
            margin: auto auto ;
            border-radius: 8px;
          
      }
    
     

        .details{
            border-radius: 20px;
            padding: 40px 20px;
            background: #fff;
            width: 98%;
            margin: auto;
            font-size: 1.125rem;
            color: #585858;
            line-height: 1.5em;
            text-align: justify;
            margin-top: 15px;
            margin-bottom: 15px;
            font-family: "Mukta Mahee",sans-serif;
            font-weight: 500;
            box-shadow: 0 40px 60px 0 rgb(0 0 0 / 18%);
        }
       
  div.discover{
    max-width: 320px ;
  }      
.discover{
    margin: auto;
}
 .discover a{
        display: inline-block;
        padding: 15px 15px;
        font-family: Poppins,sans-serif;
        font-weight: 600;
        font-size: .875rem;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        background: $pinksite;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
        text-align: center;
        width: 290px;
        margin: auto;
}
.details span{
    color: black;
}
.format{
    margin-left: 12%;
    margin-right: 12%;
}

.parcours{
    padding-top: 100px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 25%;
    margin-right: 25%;
        .discover{
            padding-top: 50px;
            margin: auto;
        }
        .titre{
        padding-bottom: 70px;
        text-align: center;
        }
}

.mapid{
    width: 100%;
    height: auto;
    border: 2px solid $pinksite;
    box-shadow: 0 40px 60px 0 rgb(0 0 0 / 18%);
    box-sizing: border-box;
    margin-bottom: 80px;
    margin-left: 50px;
        iframe{
            width: 100%;
        }
}

p.fb{
    width: 70%;
    font-size: 1.125rem;
    color: #585858;
    line-height: 1.5em;
    text-align: justify;
    margin-left: 170px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Mukta Mahee",sans-serif;
    font-weight: 500;
        span{
            color: $pinksite;
        }
}

.viaromfr img{
    margin-left: 50px;
    object-fit: cover;
    padding-top: 80px;
    width: 97%;
    height:450px;
    padding-bottom: 80px;   
}

.laast{
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: #f4f4f4;
    width: auto;
    height: 100%;
        h2{
            font-size: 2.25rem;
            font-weight: 300;
            font-family: Poppins,sans-serif;
            color: $pinksite;
            margin: 0;
            text-align: center;
            display: block;
        }
}
div.laast{
    height: 70vh;
}

.img-amb{
    position: absolute;
    z-index: 2;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left:10% ;
    height: 280px; 
    width: 400px;
    // overflow: hidden;
    
}

.img-amb a{
    transition: transform .5s ease;
    transition: all 0.2s ease-out;
  }

  .img-amb:hover a {
    transform: scale(1.1);
    filter: blur(4px);
  }

.text-info{
    position: absolute;
    top: 350px;
    z-index: 1;
    left: 80px;
    font-family: "Mukta Mahee",sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1em;
    overflow: hidden;
}


@media screen and (max-width: 390px) {
    .wallpaper{
        object-fit: cover;
        margin: 0 ;
        height: 300px;
        width: 100%;
    }

  .page-titre{
    font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 1.432rem;
            text-align: center;
            color: white;
            font-family: "Poppins";
            width: 94%;
            position: relative;
            top: -150px;
            margin-left: 15px;
            margin-bottom: 50px;
            z-index: 2;
}

    .context .row{
        margin-left:5%;
        margin-right: 5%;
        width: 90%;
            h2{
                text-align: center;
            }
            h3{
                margin-left: 5%;
                margin-right: 5%;
                text-align: center;
            }
    }

    .context .column{
        margin-left:5%;
        margin-right: 5%;
        width: 90%;
    }

    #acv a{
        margin-left:6% ;
        max-width: 300px;
    }

    .format{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    article.itin{
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 0px;
        width: 100%;
     }

     article div.right{
        width: 89%;
        order: 2;
        margin-left: 0px;
        margin-bottom: 10px;   
        padding-left: 0px;
            .details h1{
                text-align: center;
            }
    }

    article div.left{
            
        margin-bottom: -40px;
        width: 98%;
        z-index: 20;
        box-shadow: none;
        padding-left: 0px;
     }

     div.discover{
        margin-left: 5%;
     }

     .parcours{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
            h2{
                margin-left: 5%;
                margin-right: 5%;
                width: 90%;
                text-align: center;
            }
     }
     .mapid{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
     }

     p.fb{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
     }

     .viaromfr img{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
     }

     div.laast{
        margin-left: 1%;
        margin-right: 1%;
        width: 98%;
     }

     img.via-img{
        margin:0 2%;
        width: 98%;
        object-fit: cover;
        height: 300px;
     }
       div.img-amb{
            margin-left: 12%;
            margin-right: 5%;
            width: 300px;
            height: 300px;
            object-fit: cover;
                img{
                    width: 300px;

                }
        }
      
        h3.text-info{
            position: absolute;
            top: 300px;
            z-index: 1;
            left: 50px;
            font-family: "Mukta Mahee",sans-serif;
            font-weight: 600;
            color: #fff;
            font-size: 1.5rem;
            line-height: 1em;
            overflow: hidden;
            width: auto;}
} 