
.wallpaper{
    
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin-top: -10px;
    z-index: 1;
    
}

.titre{
    font-family: 'Mukta Mahee', sans-serif;
    padding-top: 20px;
    font-size: 1.5rem ;
}
.page-titre{

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.875rem;
    text-align: center;
    color: white;
    font-family: "Poppins";
    width: 80%;
    position: relative;
    top: -500px;
    margin: 0px auto 50px auto;
    z-index: 2;
  
}

.context{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
     
    p{
        font-family: 'Mukta Mahee', sans-serif;
        padding-top: 2%;
        font-size: 1.125rem;
        text-align: justify;  
        color: #585858
    }
 
    .row{
        flex-direction:  row;
        margin-left: 25%;
        margin-right: 25%;
        h2{
            margin-top: -10px;
            padding-top: -10px;
            font-size: 1.875rem;
            font-weight: 300;
            list-style: 1em;
            color: #231f20;
        }
        h3{
            margin-bottom: 0px;
            font-size: 1.5rem;
            color: #231f20;
            font-family: Poppins,sans-serif;
            font-weight: 600;
        }
        
    }
    .column{
        margin-left: 25%;
        margin-right: 22%;
    }
}

.ev5{
    padding-top: 5%;
    margin: 0;

}

.logoviafr{
    height: 150px;
    width: 250px;
    float: left;
    margin:3% 3% 1% 0;
 }

 #acv{
    
    align-items: center;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: .875rem;
    margin-top: 20px;
    width: 400px;
    margin: auto;
    
    h3{
        margin-top: 0px;
    }
     a{
        text-decoration: none;
        border: 2px solid $pinksite ;
        background: #fff;
        padding: 10px 15px 10px 15px;
        color: $pinksite;
        font-weight: 600;
        position: relative;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
        .keur{
            padding-top:80px;
            padding-left: 20px;
            margin-bottom:-7px;
        }
        .plus{
            width: 13px;
            height: 13px;
            margin-left: -13px;
            margin-bottom: -7px;
           
        
        }
     }
  
 }

 article.itin{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0;
    width: 100%;
 }
 div.photo img{
    
    display: block;
    height: 537px;
    box-shadow: 0 40px 60px 0 rgb(0 0 0 / 18%);
    width: 100%;
    background-color: #fff;
   
}

        article div.left{
         
           box-shadow: 0 40px 60px 0 rgb(0 0 0 / 18%);
           margin-top: 30px;
           width: 43%;
           margin-left: 0px;
           height: 540px;
           border-radius: 10px;
           background-color: #fff;
       }
       article div.right{ 
            
            width: 50%;
            margin: auto 0px auto -40px;
            padding: 70px 50px;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 40px 60px 0 rgb(0 0 0 / 18%);
            position: relative;
      }
      h1{  
        margin: 0;
        font-family: Poppins,sans-serif;
        font-weight: 600;
        font-size: 1.5rem;

    }

        .details{
            width: 100%;
            margin: auto;
            font-size: 1.125rem;
            color: #585858;
            line-height: 1.5em;
            text-align: justify;
            margin-top: 15px;
            margin-bottom: 15px;
            font-family: "Mukta Mahee",sans-serif;
            font-weight: 500;
        }
       
        
.discover{
    margin-left: 40px;
}
 .discover a{
        display: inline-block;
        padding: 15px 15px;
        font-family: Poppins,sans-serif;
        font-weight: 600;
        font-size: .875rem;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        background: $pinksite;
        position: relative;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
        text-align: center;
        width: 290px;
        margin: auto;
}
span{
    color: black;
}
.format{
    margin-left: 12%;
    margin-right: 12%;
}