.main{
    display: flex;
    
}

.wallpaper{
    position:absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin-top: -10px;
    z-index: 1;
}

.titre{
    font-family: 'Mukta Mahee', sans-serif;
    padding-top: 20px;
    font-size: 1.5rem ;
}
.page-titre{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.875rem;
    z-index: 2;
    color: #fff;
    text-align: center;
    position: relative;
    padding-top: 25%;
   
}

.context{
    padding-top: 23%;
    display: flex;
    flex-wrap: wrap;
     
    p{
        font-family: 'Mukta Mahee', sans-serif;
        padding-top: 2%;
        font-size: 1.125rem;
        text-align: justify;  
        color: #585858
    }
 
    .row{
        flex-direction:  row;
        margin-left: 25%;
        margin-right: 25%;
        h2{
            font-size: 1.875rem;
            font-weight: 300;
            list-style: 1em;
            color: #231f20;
        }
        h3{
            margin-bottom: 0px;
            font-size: 1.5rem;
            color: #231f20;
            font-family: Poppins,sans-serif;
            font-weight: 600;
        }
        
    }
    .column{
        margin-left: 25%;
        margin-right: 22%;
    }
}

.ev5{
    padding-top: 5%;
    margin: 0;

}

.logoviafr{
    height: 150px;
    width: 250px;
    float: left;
    margin:3% 3% 1% 0;
 }

 .boxx{
    display: flex;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: .875rem;
    margin-top: 20px;
    margin-left: 40%;  
    h3{
        margin-top: 0px;
    }
     a{
        text-decoration: none;
        border: 2px solid $pinksite ;
        background: #fff;
        padding: 10px 15px 10px 15px;
        color: $pinksite;
        font-weight: 600;
        position: relative;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
        .keur{
            padding-top:80px;
            padding-left: 20px;
            margin-bottom:-7px;
        }
        .plus{
            width: 13px;
            height: 13px;
            margin-left: -13px;
            margin-bottom: -7px;
           
        
        }
     }
  
 }

 .itin{
    padding-top: 8%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
            
        .right{
            order: 1;
           flex-basis: 50%;
            
        }
        .left{
            order: 2;
            flex-basis: 50%;
            flex-wrap: wrap;
            
        }
           .details{
            font-family: "Mukta Mahee", sans-serif;
            // padding-top: 2%;
            font-size: 1.125rem;
            text-align: justify;
            color: #585858;
        }
        h1{
            margin-top: 0px;
            font-family: Poppins,sans-serif;
            font-weight: 600;
            font-size: 1.5rem;
            font-size: 1.875rem;
            color: #231f20;
        }
    
 }