.presentation {
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
    .titleHome {
        padding: 60px 10px 20px 10px;
        font-family: 'Poppins';
        font-weight: 300;
        font-size: 2.5rem;
        width: 60%;
        margin: auto;
        color: #231f20;
        line-height: 1.5em;
}
    .descHome {
        padding: 10px;
        width: 70%;
        color: #585858;
        font-size: 1.125rem;
        font-weight: 550;
        line-height: 1.5em;
        margin: auto;
        padding-bottom: 10px;
        font-family: 'Mukta Mahee';
            a {
                text-decoration: none;
                color: $pinksite;
            }
    }
}


// .findaccueil{
//     display: block;
//     width: 65%;
//     margin-left: 20%;
// }
//     .texteaccueilvelo {
//         .imgav {
//             width: 30px;
//             padding-right: 60px;
//             float: left;
//         }
//         .petittitre {
//             font-family: 'Poppins';
//             font-size: 2.25rem;
//             font-weight: 300;
//             text-align: left;
//         }
//         .descriptionAV {
//             font-family: 'Mukta Mahee';
//             font-size: 1rem;
//             text-align: left;
//         }
//     }
//     #contenairemenuaccueil {
//         display: flex; 
//         flex-wrap: wrap;
//         gap: 30px;
//         // margin-left: 24%; 
//             #menuun, #menudeux, #menutrois, #menuquatre, #menucinq {
//                 .surmenu {
//                     position: absolute;
//                     font-family: 'Mukta Mahee';
//                     z-index: 4;
//                     width: 100%;
//                     font-weight: 700;
//                     font-size: 1.125rem;
//                     // translate: (0, -50%);
//                     color: white;
//                     text-align: center;
//                     width: 160px;
//                     overflow: hidden;
//                 }
//                 .menuflex {
//                     border-radius: 5px;
//                     position: relative; 
//                     z-index: 2;
//                     position: absolute;
//                     background: rgba(0,0,0, 0.4);
//                     display: block;
//                     flex: 16.6666666667%;
//                     // max-width: 16.6666667%;
//                     height: 30%

//                 }
//                 img {
//                     width: 170px;
//                     height: 230px;
//                     object-fit: cover;
//                 }
//             }
//     }


#gridaccueil {
    width: 65%;
    margin: auto;
    padding-bottom: 40px;
        .titregridaccueil {
            font-family: 'Poppins';
            font-size: 42px;
            text-align: center;
            font-weight: 300;
        }
        .soustitregridaccueil {
            // width: 0%;
            font-family: 'Mukta Mahee';
            color: #585858;
            font-weight: 500;
            text-align: center;
            // margin: auto;
            padding-bottom: 15px;
        }
}