
main{
    padding-top: 80px;
    margin-left: 25%;
    margin-right: 25%;
}
.titre-container{
    align-items: center;
    margin-top: 50px;
    text-align: center;
    /*div {
        border: 2px crimson solid;
    }*/
.titre-infos{
    text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
}


}

.grid-container {
    display: grid;
    grid-template-rows: repeat(6,250px);
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 15px;
    margin-top: 50px;
    
    

   .bloc {
        width: 100%;
        position: relative;
        
           
    }

    img{
        display: block;
        border-radius: 7px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        
        }

    .text{
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
        bottom: 15px;
        
        }

        a {
            color: white;
            cursor: pointer;
            text-decoration: none;
            width: auto;
            
        }


    h3{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        

        

    }



    text-align: center;

    .bloc5 {
        background: blue;
        text-align: center;
        border: black 5px solid;
        grid-column-start: 2; 
        grid-column-end: 4; 

      }

    .bloc10 {
        background: blue;
        text-align: center;
        border: black 5px solid;
        grid-column-start: 2; 
        grid-column-end: 4; 

      }


  }


