#fildarianne {
    background-color: #f4f4f4;
    margin-top: 140px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Poppins, sans-serif;
    color: black;

    li:after {
        content: ">";
    }

    li {
        display: inline-block;
    }

}


.corps {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;

    .titre-container {
        align-items: center;
        margin-top: 30px;
        text-align: center;
        font-family: Poppins, sans-serif;

        /*div {
            border: 2px crimson solid;
        }*/
        .titre-infos {
            text-align: center;
            margin: auto;
            padding-top: 30px;
            padding-bottom: 30px;
            color: black;

            h1 {
                font-family: Poppins, sans-serif;
                font-weight: 700;
            }
        }
    }

    .grid-container {
        display: grid;
        grid-template-rows: repeat(6, 250px);
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin-top: 50px;
        font-family: "Mukta Mahee", sans-serif;

        .bloc {
            min-width: 250px;
            width: 100%;
            position: relative;
            font-family: "Mukta Mahee", sans-serif;
            overflow: hidden;
            border-radius: 7px;
        }


        .bloc:hover {
            box-shadow: 0 0 40px rgb(0 0 0 / 30%);

            img {
                filter: blur(8px);
                transform: scale(1.2);
            }

            .text {
                bottom: 80px;
            }
        }

        .fusion {
            position: relative;
            text-align: center;
            grid-column-start: 2;
            grid-column-end: 4;
        }

        .etiquette>span {
            background: #eea622;
            color: #fff;
            height: 100%;
            width: 100%;
        }

        img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all .2s ease-out;
        }

        .text {
            position: absolute;
            width: 100%;
            text-align: center;
            left: 0;
            bottom: 2px;
            font-family: "Mukta Mahee", sans-serif;
            transition: all .2s ease-out;
        }

        a {
            color: white;
            cursor: pointer;
            text-decoration: none;
            width: auto;
        }

        h3 {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            font-family: "Mukta Mahee", sans-serif;
            font-weight: 600;
        }
    }

@media screen and (max-width:405px){
    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 250px);
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin-top: 50px;
        font-family: "Mukta Mahee", sans-serif;   
        }

        .bloc {
            min-width: 250px;
            width: 100%;
            position: relative;
            font-family: "Mukta Mahee", sans-serif;
            overflow: hidden;
            border-radius: 7px;
        }

    }
}