/*NAVBAR*/
.likeblack{
    color:black;
}

.likeblack:hover{
    color:#e5b9d5;
}

.espacepersoblackk{
    color:black;

}

.espacepersoblackk:hover{
    color:#e5b9d5;
}
/*NAVBAR*/

/*FIL D'ARIANE*/
#fildarianne {
    background-color: #f4f4f4;
    margin-top: 140px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    .acc:after {
        content: ">";
    }

    li {
        display: inline-block;
    }

    a{
        text-decoration: none;
        color: black; 
    }
}
/*FIL D'ARIANE*/

.corpsInfos {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    margin-bottom: 20px;

    .titreInfos {
        align-items: center;
        margin-top: 80px;
        text-align: center;

       h1.pageTitreInfos{
            text-align: center;
            margin: auto;
            padding-bottom: 30px;
            color: black;
            font-family: 'Poppins',sans-serif;
            font-weight: 700;
            font-size: 2.625rem;
        }

    }


    h2.pageSousTitreInfos{
        text-align: center;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        color: black;
        font-family: 'Poppins',sans-serif;
        font-size: 1.875rem;
        font-weight: 300;
        line-height: 1em;
    }

    .grid-container {
        display: grid;
        grid-template-rows: repeat(6, 250px);
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin-top: 50px;

        .bloc {
            min-width: 250px;
            width: 100%;
            position: relative;
            
            overflow: hidden;
            border-radius: 7px;
        }

        .bloc:hover {
            box-shadow: 0 0 40px rgb(0 0 0 / 30%);

            img {
                filter: blur(8px);
                transform: scale(1.2);
            }

            .textImage {
                bottom: 80px;
            }
        }

        .blocFusion {
            position: relative;
            text-align: center;
            grid-column-start: 2;
            grid-column-end: 4;
            overflow: hidden;
            border-radius: 7px;
        }

        .blocFusion:hover {
            box-shadow: 0 0 40px rgb(0 0 0 / 30%);

            img {
                filter: blur(8px);
                transform: scale(1.2);
            }

            .textImage {
                bottom: 80px;
            }
        }

        .blocBis{
            display: none;
        }

        
        img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all .2s ease-out;
        }

        .textImage {
            position: absolute;
            width: 100%;
            text-align: center;
            left: 0;
            bottom: 2px;
            font-size: 20px;
            font-family: "Mukta Mahee", sans-serif;
            transition: all .2s ease-out;
        }

        a {
            color: white;
            cursor: pointer;
            text-decoration: none;
            width: auto;
        }

        .link-block {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            font-family: "Mukta Mahee", sans-serif;
            font-weight: 600;
        }
    }

    @media screen and (max-width : 400px) {

        .blocFusion{
            display: none;
        }
    
        .grid-container{
            display: grid;
            grid-template-rows: repeat(16, 250px);
            grid-template-columns: 1fr;
            grid-gap: 40px;
            margin-top: 40px;
            margin-left:auto;
            margin-right:auto;
            font-family: "Mukta Mahee", sans-serif;

            .blocBis{
                min-width: 250px;
                width: 100%;
                position: relative;
                font-family: "Mukta Mahee", sans-serif;
                overflow: hidden;
                border-radius: 7px;
                display:block;
            }

        }

        .bloc{
            min-width: 250px;
            width: 100%;
            position:relative;
            font-family: "Mukta Mahee", sans-serif;
            overflow: hidden;
            border-radius: 7px;
        }



        img{
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all .2s ease-out;
        }

        .text{
            position: absolute;
            width: 100%;
            text-align: center;
            left: 0;
            bottom: 2px;
            transition: all .2s ease-out;
            font-size: 50px;
        }

        .link-block {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            font-family: "Mukta Mahee",sans-serif;
            font-weight: 600;
            color: #fff;
            font-size: 1.5rem;
            line-height: 1em;
        }

        
    }


}


@media screen and (max-width : 390px) {
    #fildarianne {
    display: none;
    }
    
    .corpsInfos {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-bottom: 20px;
    
        .titreInfos {
            align-items: center;
            margin-top: 30px;
            text-align: center;
    
           h1.pageTitreInfos{
                text-align: center;
                margin: auto;
                padding-top: 90px;
                padding-bottom: 0px;
                color: black;
                font-family: 'Poppins',sans-serif;
                font-weight: 700;
                font-size: 1.875rem;
            }
        }
    
        h2.pageSousTitreInfos{
            text-align: center;
            margin: auto;
            padding-top: 30px;
            padding-bottom: 0px;
            color: black;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            font-size: 1.65rem;
        }
}
}