#map { 
    float: right;
    height: 834px; 
    width: 60%;
    margin-top: 135px;
}
.leaflet-interactive{
    stroke-width: 7;
    &:hover{
        stroke: $pinksite;
    }
    &:focus{
        stroke: red
    }
}
.pointmarker{
    color:red
}
.nav-itineraire{
    background-color: white;
    div a{
        color: black
    }
} 

.test{
    stroke: black;
}