.nav-itineraire{
    background-color: white;
    div a{
        color: black
    }
} 

.itineraire-body{
    overflow-y: hidden;
}

.scroll{
    overflow-y: scroll;
    scrollbar-width: auto;
}

.itineraire-main{
    display: flex;
    margin-top: 135px;
    #map{
        justify-content: right;
        height: 834px; 
        width: 67%;
    }
    .itineraire-map-left{
        width: 33%;
        height: 87vh;
        justify-content: left;
        .itineraire-map-options{
            display: flex;
            a{
                color: gray;
                width: 50%;
                padding-top: 20px;
                padding-bottom: 15px;
                cursor: pointer;
                text-decoration: none;
                text-align: center;
                font-size: 12px;
                font-weight: 600;
                span p{
                    text-align: center;
                    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
                    font-weight: inherit;
                    font-size: inherit;
                    margin: 0;
                    text-transform: uppercase;
                }
                &.actif{
                    color: $pinksite;
                    border-bottom: 3px solid $pinksite;
                }
                
            }
        }
        .itineraire-map-download{
            text-align: center;
            a{
                font-weight: 600;
                font-size: .875rem;
                font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
                color: $pinksite;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
        .itineraire-map-informations{
            div{

            .itineraire-map-informations-section{
                margin-bottom: 5px;
                margin-top: 5px;
                font-family: "Mukta Mahee", sans-serif;
                cursor: pointer;
                .itineraire-map-informations-habitude{
                    width: 100%;
                    margin-left: -15px;

                    span{
                        width: 100%;
                        display: inline-block;
                        background-color: orange;
                        padding: 5px 10px;
                        font-weight: 600;
                        font-size: .875rem;
                        text-decoration: none;
                        color: white;
                        padding: 5px 10px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
                    .itineraire-map-informations-global-div{
                        display: flex;
                        border-radius: 5px;
                        overflow: hidden;
                        .itineraire-map-informations-image-div{
                            height: 190px;
                            width: 190px;
                            img{
                                height: 190px;
                                width: 190px;
                                overflow: hidden;
                                object-fit: cover;
                            }
                        }
                        .itineraire-map-informations-text-global{
                            padding: 10px 30px 10px 15px;
                            h2{
                                margin: 0;
                                font-size: 1.25rem;
                                font-weight: 600;
                                font-family: Poppins,sans-serif;
                                margin: 0;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                a{
                                    text-decoration: none;
                                    color: inherit;
                                }
                            
                            }
                            .itineraire-map-informations-description{
                                margin: 10px 0 0 0;
                                font-size: 1.125rem;
                                color: #585858;
                                line-height: 1.5em;
                                text-align: justify;
                                font-family: "Mukta Mahee",sans-serif;
                                font-weight: 500;
                            }
                        
                        }
                        .itineraire-map-informations-difficulte{
                            font-family: "Mukta Mahee",sans-serif;
                            font-weight: 400;
                            .itineraire-map-informations-difficulte-habitude{
                                display: inline-block;
                                padding: 5px 35px 5px 10px;
                                font-weight: 600;
                                font-size: .875rem;
                                
                            }

                        }
                    }
                    &:hover .itineraire-map-informations-section{
                        border-radius: 5px;
                    }
                    &:hover .itineraire-map-informations-global-div{
                        box-shadow: 2px 2px 2px 2px lightgray;
                    }
                    &:hover .itineraire-map-informations-text-global{
                        background-color: black;
                    }
                    &:hover .itineraire-map-informations-text-global .itineraire-map-informations-description, &:hover h2{
                        color: white;
                    }
                    &:hover .itineraire-map-informations-image{
                        transition: all .2s ease-out;
                        filter: blur(4px);
                    }
                    .itineraire-map-informations-image{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.itineraire-map-informations-difficulte-habitude-blue{
    color: #3498DB;
}
.itineraire-map-informations-difficulte-habitude-red{
    color: #e6473e;
}
.itineraire-map-informations-difficulte-habitude-green{
    color: #56be81;
}

.hidden{
    display: none;
}

.itineraire-map-informations-second-section-header{
   position: relative;
   border-bottom: 1px solid #dfdfdf;
   padding: 5px 70px 5px 50px;
   font-family: "Mukta Mahee",sans-serif;
    font-weight: 400;
    h2 a{
        text-decoration: none;
        color: $pinksite;
        margin: 0;
        font-family: Poppins,sans-serif;
        font-weight: 500;
        font-size: .875rem;
        display: block;
    }
    i{
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translate(0,-50%);
        font-size: 24px;
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        color: black;
    }
}



.itineraire-informations-second-section-options{
    display: flex;
    width: 100%;
    a{
        color: gray;
        width: 50%;
        padding-top: 20px;
        padding-bottom: 15px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        span p{
            text-align: center;
            font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
            font-weight: inherit;
            font-size: inherit;
            margin: 0;
            text-transform: uppercase;
        }
        &.actif{
            color: $pinksite;
            border-bottom: 3px solid $pinksite;
        }
    }
}

.itineraire-map-informations-second-body{
    padding-bottom: 100px;
    .itineraire-map-informations-second-body-theme{
        font-family: "Mukta Mahee",sans-serif;
        font-weight: 400;
        background: #f59c00;
        color: #fff;
        max-width: 100%;
        text-align: center;
        padding: 10px 10px;
        span{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-weight: 600;
            font-size: 1rem;
        }
    }

    .itineraire-map-informations-second-body-infos{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: #f4f4f4;
        padding: 10px 0;
        font-family: "Mukta Mahee",sans-serif;
        font-weight: 400;
        .itineraire-map-informations-second-body-infos-distance, 
        .itineraire-map-informations-second-body-infos-difficulte,
        .itineraire-map-informations-second-body-infos-duree{
            padding: 0 30px 0 0;
            font-size: 1rem;
            font-weight: 600;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .itineraire-map-informations-second-body-img-div{
        width: 100%;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .itineraire-map-informations-second-body-depart-arrive{
        padding: 10px 15px;
        background: #f4f4f4;
        font-family: "Mukta Mahee",sans-serif;
        font-weight: 500;
        font-size: 1rem;
        display: flex;
        flex-wrap: wrap;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: space-between;
        a{
            text-decoration: none;
            color: black
        }
        .itineraire-map-informations-second-body-arrive{
            
            text-align: right;
        }   
     }
     .itineraire-map-informations-second-footer-top{
        font-family: "Mukta Mahee",sans-serif;
        font-weight: 400;
        position: fixed;
        z-index: 51;
        width: 33%;
        height: 40px;
        bottom: 58px;
        background: #f5f5f5;
        box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.2);
        padding: 10px 15px 0 15px;
        display: block;
        text-align: center;
        .itineraire-map-informations-second-footer-row{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;
            .itineraire-map-informations-second-footer-btn{
                    width: 33%;
                a{
                    padding-left: 5px;
                    padding-right: 5px;
                    text-align: center;
                    text-decoration: none;
                    color: $pinksite;
                    position: relative;
                    display: inline-block;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 13px;
                    font-size: .875rem;
                }
            }
        }
    }
}

.itineraire-map-informations-second-body-container{
    .itineraire-map-informations-second-body-description{
        white-space: pre-line;
        font-family: "Mukta Mahee",sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
        margin-bottom: 30px;
    }
}

.itineraire-map-informations-second-footer-bot{
    font-family: "Mukta Mahee",sans-serif;
    font-weight: 400;
    position: fixed;
    z-index: 10;
    height: 28px;
    top: auto!important;
    bottom: 0!important;
    padding: 15px;
    width: 33%;
    background: $pinksite;
    transition: all .2s ease-out;
    .itineraire-map-informations-second-footer-row{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        .itineraire-map-informations-second-footer-bot-btn{
                width: 33%;
            a{
                padding-left: 5px;
                padding-right: 5px;
                text-decoration: none;
                color: white;
                position: relative;
                display: inline-block;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 13px;
                font-size: .875rem;
            }
        }
        .itineraire-map-informations-second-footer-bot-btn-page{
            text-align: center;
                        }
    }
}
