.likeblack{
    color:black;
}

.likeblack:hover{
    color:#e5b9d5;
}

.espacepersoblackk{
    color:black;

}

.espacepersoblackk:hover{
    color:#e5b9d5;
}

#fildarianne {
    background-color: #f4f4f4;
    margin-top: 140px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Poppins, sans-serif;
    font-weight: 500;


    .acc:after {
        content: ">";
    }

    li {
        display: inline-block;
       

    }

    a{
        text-decoration: none;
        color: black; 
    }
}


.corpsMentions {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-bottom: 20px;
    

    h1.pageTitreMentions{
        text-align: center;
        margin: auto;
        padding-top: 100px;
        padding-bottom: 0px;
        color: black;
        font-family: Poppins,sans-serif;
        font-weight: 700;
        font-size: 2.625rem;
    }

    .titresBlocs{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        margin-top: 40px;
        }

    .paragraphes{
        font-family: "Mukta Mahee",sans-serif;
        font-weight: 500;
        font-size: 1.125rem;

    }

    .textegris{
        color: grey;
        }

    .adWeb{
        color: #e5b9d5;
        }

    ol{
        margin-top: -10px;
        margin-bottom: 10px;
        padding-left: 17px;
        font-family: "Mukta Mahee",sans-serif;
        font-weight: 500;
        font-size: 1.125rem;
        }
    }



@media screen and (max-width : 400px) {
    #fildarianne {
    display: none;
    }
    
    .corpsMentions {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 100%;
        margin-bottom: 20px;
    
        
        h1.pageTitreMentions {
            text-align: center;
            margin: auto;
            padding-top: 130px;
            padding-bottom: 0px;
            color: black;
            font-family: Poppins,sans-serif;
            font-weight: 700;
            font-size: 1.875rem;
    }
}
}


